BackDjangoRest-SupportService/venv
BackDjangoRest-SupportService/support-service/support_service/support_service/__pycache__
BackDjangoRest-SupportService/support-service/support_service/support_back/__pycache__